{% extends 'base_index.html' %}

{% block title %}
  Record | {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h4 align='center'>Record</h4>
      <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class='btn btn-primary btn-block' name="button">Record</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block custom_script %}
<script>
  $(document).ready(function(){
    $('select').addClass('form-control col-10');
    $('input').addClass('form-control col-10');
    $('textarea').addClass('form-control col-10');
  });
</script>
{% endblock %}
