{% extends 'base_index.html' %}

{% block title %}
	{{ category.title }} | {{ block.super }}
{% endblock %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>{{ category.title }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'enterprise:dashboard' %}">Главная</a>
            </li>
            <li class="active">
                <strong>Детально</strong>
            </li>
        </ol>
    </div>
</div>


{% endblock %}