{% extends "base_index.html" %}
{% load static i18n %}
{% block title %}
    Personal {{ instance.title }} | {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Редактировать</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    <a href="{% url 'settings:enterprise-settings' enterprise.pk %}">Настройка</a>
                </li>
                <li class="active">
                    <strong>Сотрудники</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <table class="footable table table-stripped toggle-arrow-tiny tablet breakpoint footable-loaded">
                            <thead>
                                <tr>
                                    <th class="footable-visible footable-sortable">

                                    </th>
                                    <th class="footable-visible footable-sortable">
                                        {% trans 'Name' %}
                                        <span class="footable-sort-indicator"></span>
                                    </th>
                                    <th class="footable-visible footable-sortable">
                                        {% trans 'Number of services' %}
                                        <span class="footable-sort-indicator"></span>
                                    </th>
                                    <th class="footable-visible footable-sortable">
                                        {% trans 'Status' %}
                                        <span class="footable-sort-indicator"></span>
                                    </th>
                                    <th class="footable-visible footable-sortable">
                                        <a id='new-staff' class="btn btn-success pull-right" href="{% url 'employee:new-employee' %}"> <i class="fa fa-plus"></i> {% trans 'Add employee' %}</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for staff in employee %}
                                    <tr class="footable-even">
                                        <td class="footable-visible footable-first-column">
                                            {% if staff.avatar %}
                                                <img class="img-sm img-circle" src="{{ staff.avatar.url }}" alt="{{ staff.name }}">
                                            {% else %}
                                                <img class="img-sm img-circle" src="{% static 'image/avatar/avatar_man.png' %}" alt="{{ staff.name }}">
                                            {% endif %}
                                        </td>
                                        <td class="footable-visible">

                                            <strong>{{ staff.name }}</strong><br>
                                            <small>{{ staff.specialization }}</small>
                                        </td>
                                        <td class="footable-visible">
                                            <span class="text-center">{{ staff.staff.count }}</span>
                                        </td>
                                        <td class="footable-visible">
                                            {% if staff.fired %}
                                                <span class="label label-danger">Уволен</span>
                                            {% else %}
                                                {% if staff.hidden %}
                                                    <span class="label label-warning">Скрыт</span>
                                                {% else %}
                                                    <span class="label label-primary">Доступен</span>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td class="text-right footable-visible footable-last-column">
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-xl" href=""><i class="fa fa-cog"></i></a>
                                                <a class="btn btn-default btn-xl" href="{% url 'schedule:schedule' %}"><i class="fa fa-clock-o"></i></a>
                                                <a class="btn btn-default btn-xl" href=""><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_script %}
    <script src="{% static 'js/utils/cookie_safe.js' %}"></script>
    <script>
        $(document).ready(function () {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

        });
    </script>
{% endblock %}