{% extends "base_index.html" %}
{% load static enterprise_tags %}
{% block title %}
	Update {{ instance.title }} | {{ block.super }}
{% endblock %}

{% block content %}
	<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Редактировать</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    <a href="{% url 'settings:enterprise-settings' user|ent_id %}">Настройка</a>
                </li>
                <li class="active">
                    <strong>Редактировать</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1"> Основное</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <form class="form-horizontal" method="POST">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="">
                                                {{ field.label_tag }}
                                            </label>
                                            <div class="col-sm-10">
                                                {{ field }}
                                                {% if field.errors %}
                                                    <div class="alert alert danger">{{field.error}}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="form-group">
                                        <div class="col-sm-2 col-sm-offset-2">
                                            <button class="btn btn-success btn-block">Сохранить!</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_script %}
    <script src="{% static 'js/utils/cookie_safe.js' %}"></script>
	<script>
		$(document).ready(function(){
             function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                      var cookie = jQuery.trim(cookies[i]);
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
                }
                return cookieValue;
                }
			$(".summernote").summernote();

            var URL = '/api/enterprises/detail/';
            var ID = '{{instance.pk}}';
		});
	</script>
{% endblock %}