<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom"
                  action="">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search"
                           id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">

            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'account_login' %}">
                        <i class="fa fa-sign-in"></i> Login
                    </a>
                </li>
                <li>
                    <a href="{% url 'account_signup' %}">
                        <i class="fa fa-sign-up"></i> SignUp
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
