<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom"
                  action="">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search"
                           id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">Welcome to RESERVATOR.</span>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li class="divider"></li>
                    <li>
                        <a href="/">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 Новых заказа
                                <span class="pull-right text-muted small">12 минут назад</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>

            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'account:logout' %}">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'account:login' %}">
                        <i class="fa fa-sign-in"></i> Login
                    </a>
                </li>
                <li>
                    <a href="{% url 'account:register' %}">
                        <i class="fa fa-sign-up"></i> SignUp
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
