{% extends 'base_index.html' %}
{% load i18n static %}
{% block title %}Profile | {{ block.super }} {% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <input id="hidden_id" type="hidden" value={{ user.id }}>
                    {{ user.first_name }} {{ user.last_name }}
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Gender:</th>
                            <th>{{ profile.sex }}</th>
                        </tr>
                        <tr>
                            <th>Date birth:</th>
                            <th>{{ profile.birth }}</th>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <th>{{ profile.phone }}</th>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <th>{{ profile.contact_email }}</th>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <th>
                                <address class="">
                                    {{ profile.address }}
                                </address>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                    <strong>About my:</strong>
                    <p>
                        {{ profile.about }}
                    </p>
                    <a class='btn btn-dark' href="{% url 'account:edit' %}">{% trans "Change" %}</a>
                    <a class="btn btn-primary" href="{% url 'enterprise:create' %}">Create new Enterprise</a>
                </div>
                <div class="card-footer">
                    {% blocktrans %}Enterprise{% endblocktrans %}: {{ owner_list.count }}
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div id="profile"></div>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
    <script type="text/babel" src="{% static 'js/app/profile.js' %}"></script>
{% endblock %}