{% extends 'base_index.html' %}
{% load static %}
{% block title %}
    Create Enterprise | {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Project create</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'enterprise:dashboard' %}">Dashboard</a>
                </li>
                <li class="active">
                    <strong>Project create</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h1>Create Enterprise</h1>
                    </div>
                    <div class="ibox-content">
                    <form action="." method="post" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            <label for="" class="control-label col-sm-2">
                                {{ field.label_tag }}
                            </label>
                            <div class="col-sm-10">
                                {{ field }}
                            </div>
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-success btn-block btn-sx">Create</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_script %}
    <script>
        $(document).ready(function () {
            var text_input = $('form input:text');
            var tel_input = $('#id_phone');
            var select = $('form select');
            var area_input = $('form textarea');
            text_input.addClass('form-control');
            tel_input.addClass('form-control').attr({'data-mask': '+38 (999) 999-99-99'});
            area_input.addClass('form-control');
            select.addClass('form-control');
        })
    </script>
{% endblock %}
