{% extends 'base_index.html' %}
{% load i18n %}
{% load get_current_language from i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    Dashboard {{ enterprise.title }} | {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper">
                <h1>Dashboard!</h1>
                <a href="{% url 'lang' 'ru' %}">{% trans "Русский" %}</a>
                <a href="{% url 'lang' 'uk' %}">{% trans "Українська" %}</a>
                <a href="{% url 'lang' 'en' %}">{% trans "Английский" %}</a>
                {{ enterprise }}
            </div>
        </div>
    </div>
{% endblock %}