{% extends 'base_index.html' %}
{% load static %}
{% block title %}
    Enterprise List | {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <div id="home">
          <h1>Lorem</h1>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolor quasi dolorem quo omnis. Hic ipsam repellendus earum sapiente eos deserunt accusamus ab fuga laboriosam. Voluptate vero magnam id deserunt.
          </p>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
    <script type="text/babel" src="{% static 'js/app/home.js' %}">

    </script>
{% endblock %}
