{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Reservator{% endblock %}</title>
    {% include 'snippets/style.html' %}
</head>
<body

<!-- Base content -->
<div id="wrapper">
	<!-- include navigation -->
	{% include 'snippets/navbar.html' %}
    <div id="page-wrapper" class="gray-bg dashbard-1">
	{% include 'snippets/header.html' %}
    {% block content %}{% endblock %}

	</div>
</div>
<!-- End content -->

<!-- Include page script -->
{% include 'snippets/script.html' %}
{% block custom_script %}{% endblock %}
<!-- end script -->
</body>
</html>
