{% extends 'base_index.html' %}
{% load static enterprise_tags %}
{% block title %}
    Schedules | {{ block.super }}
{% endblock %}

{% block custom_style %}

{% endblock %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Project list</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'enterprise:dashboard' %}">Dashboard</a>
                </li>
                <li class="active">
                    <strong>Staff schedule</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="timetable"></div>
                <div class="div-lg-10">
                    <div id="calendar">

                    </div>
                    <div class="event-form">
                        <form action="#" class="form-horizontal">
                            {% for field in event_form %}
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label class="control-label" for="">{{ field.label_tag }}</label>
                                    </div>
                                    <div class="col-sm-10">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_script %}
    <script src="{% static 'js/utils/string_to_date.js' %}"></script>
    <script src="{% static 'js/skeduler.js' %}"></script>

{#    <script src="{% static 'js/timetable.renderer.js' %}"></script>#}
    <script>
        function InitialComponent() {
            $('.chosen-select').chosen();
        }

        $(document).ready(function () {
            InitialComponent();
            var dateToday = new Date();
            console.log(moment(dateToday).format('YYYY-MM-DD'));
            $.ajax({
                url: '/api/schedules/{{ user|ent_id }}/',
                data: {
                    'Content-Type': 'application/json'
                },
                success: function (data) {
                    var location = [];
                    $.each(data, function (key, value) {
                        if (value.work_date === moment(dateToday).format("YYYY-MM-DD")) {
                            location.push(value);
                        }
                    });
                    getTimetable(location);
                },
                error: function (error) {
                    console.log(error)
                }
            });
            function getTimetable(location) {
                var timetable = new Timetable();
                var location_name = [];
                $.each(location, function (key, value) {
                    location_name.push(value.staff)
                });
                console.log(location_name);
                timetable.addLocations(location_name);
                $.map(location, function (value, key) {
                    $.map(value.event, function (v, k) {
                        if (v.length > 0) {
                            console.log(v.staff);
                            {#timetable.addEvent(v[k].staff, v[k].staff, new Date(2018, 2, 15, 9+k, 0), new Date(2018, 2, 15, 10+k, 0))#}
                        }
                    })
                });
                var renderer = new Timetable.Renderer(timetable);
                renderer.draw('.timetable')
            }
        });

    </script>
{% endblock %}
