{% extends 'base_index.html' %}
{% load static enterprise_tags %}
{% block title %}
    Schedules | {{ block.super }}
{% endblock %}

{% block custom_style %}
    <style>
    .event-form {
        padding-top: 20px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Project list</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'enterprise:dashboard' %}">Dashboard</a>
                </li>
                <li class="active">
                    <strong>Staff schedule</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="timetable"></div>
                <div class="div-lg-10">
                    <div id="calendar">

                    </div>
                    <div class="event-form row">
                        <h1>New event</h1>
                        <form action="#" class="form-horizontal">
                            {% for field in event_form %}
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label class="control-label" for="">{{ field.label_tag }}</label>
                                    </div>
                                    <div class="col-sm-10">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_script %}
    <script src="{% static 'js/utils/string_to_date.js' %}"></script>
    <script src="{% static 'js/skeduler.js' %}"></script>

{#    <script src="{% static 'js/timetable.renderer.js' %}"></script>#}
    <script>
        // Function chosen input
        function InitialComponent() {
            $('.chosen-select').chosen();
        }

        $(document).ready(function () {
            InitialComponent();
            var dateToday = new Date();
            console.log("Date today: "+moment(dateToday).format('YYYY-MM-DD'));
            // Initial sidebar calendar
            $('#side-calendar').datepicker({
                dateFormat: 'yy-mm-dd',
                onSelect: function (date) {
                    console.log(date);
                    // Load schedule with select date
                    $.ajax({
                        url: '/api/schedules/{{ user|ent_id }}/'+date,
                        success: function (data) {
                            var location = [];
                            if (data.length == 0) {
                                $(".timetable").html('<div class="alert alert-info">У сотрудников нет назначеного графика на сегодня</div>')
                            } else {
                                $.each(data, function (key, value) {
                                    if (value.work_date === date) {
                                        location.push(value);
                                    }
                                });
                                getTimetable(location);
                            }
                        },
                        error: function (error) {
                            console.log(error)
                        }
                    })
                }
            });
            // Load initial data
            $.ajax({
                url: '/api/schedules/{{ user|ent_id }}/'+moment(dateToday).format('YYYY-MM-DD'),
                success: function (data) {
                    var location = [];
                    if (data.length == 0) {
                        $(".timetable").html('<div class="alert alert-info">У сотрудников нет назначеного графика на сегодня</div>')
                    } else {
                        $.each(data, function (key, value) {
                            if (value.work_date === moment(dateToday).format("YYYY-MM-DD")) {
                                location.push(value);
                            }
                        });
                        // Call Timetable function
                        getTimetable(location);
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            });

        });
        // Load timetable
        function getTimetable(location) {
            // Initial array
            var location_name = [];
            // Push location name
            $.each(location, function (key, value) {
                location_name.push(value.staff)
            });
            // Initial timetable
            var timetable = new Timetable(location_name);
            // Add location to timetable
            timetable.addLocations(location_name);
            timetable.setScope(8, 21);
            //Iteration event
            $.map(location, function (value, key) {
                $.each(value.event, function (v, k) {
                    if (k.length > 0) {
                        $.each(k, function (i, item) {
                            // Initial Start date with String
                            var start_date = new Date(item.start_event);
                            var end_date = new Date(item.end_event);
                            // Add event
                            timetable.addEvent(item.staff, item.staff,
                                new Date(start_date.getFullYear(), start_date.getMonth()+1, start_date.getDate(), start_date.getHours(), start_date.getMinutes()),
                                new Date(end_date.getFullYear(), end_date.getMonth()+1, end_date.getDate(), end_date.getHours(), end_date.getMinutes()))
                        });
                        {#timetable.addEvent(v[k].staff, v[k].staff, new Date(2018, 2, 15, 9+k, 0), new Date(2018, 2, 15, 10+k, 0))#}
                    }
                })
            });
            // Render timetable
            var renderer = new Timetable.Renderer(timetable);
            renderer.draw('.timetable')
        }
    </script>
{% endblock %}
